@charset "UTF-8";
a > button:hover {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

a {
  text-decoration: none; }

ul > li:hover {
  color: #5fad5e;
  cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  background: whitesmoke; }

/**下拉框*/
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1; }
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    height: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown:hover .dropdown-content {
    display: block; }

/*********头部标题 start*************/
.header {
  width: 100%;
  height: 60px;
  background: white; }

.head-content {
  width: 1000px;
  height: auto;
  background: none;
  margin-left: 12%; }
  .head-content a {
    text-decoration: none;
    font-size: 15px;
    color: #000; }
    .head-content a:hover {
      color: #5fad5e; }
  .head-content .logo {
    width: 114px;
    height: 42px;
    background: url(image/titlelogo.png) no-repeat;
    margin-top: 9px;
    float: left;
    border: 0; }
  .head-content .title {
    width: 395px;
    height: 25px;
    background: none;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
    list-style: none; }
    .head-content .title li {
      margin: 0;
      padding: 0;
      margin-right: 30px;
      float: left; }
  .head-content .icon-title {
    width: 330px;
    height: 25px;
    margin-top: 18px;
    float: right; }
    .head-content .icon-title li {
      float: right;
      margin-right: 20px;
      list-style: none; }

/*********头部标题 end***************/
/*********内容区域 start*************/
.container {
  width: 1000px;
  height: auto;
  background: none;
  margin-left: 12%; }

/**1,海报区域**/
.banner {
  width: 100%;
  height: 332px;
  margin-top: 10px; }
  .banner .images {
    width: 752px;
    height: 332px;
    background: url("https://a1.jikexueyuan.com/home/201704/13/134e/58ef39eb56313.jpg");
    float: left;
    cursor: pointer; }
  .banner .user {
    width: 242px;
    height: 332px;
    background: none;
    float: right;
    position: relative; }
  .banner .userlogin {
    width: 242px;
    height: 160px;
    background: white;
    position: relative; }
    .banner .userlogin .usericon {
      display: block;
      width: 160px;
      height: 54px;
      background: url(image/usericon.png) no-repeat;
      position: absolute;
      left: 41px;
      top: 20px; }
    .banner .userlogin .study {
      width: 180px;
      height: 34px;
      background: white;
      border: 1px solid #5fad5e;
      color: #5fad5e;
      position: absolute;
      top: 100px;
      left: 30px;
      font-size: 15px; }
      .banner .userlogin .study:hover {
        background: #5fad5e;
        color: #fff; }
  .banner .userenter {
    display: block;
    width: 242px;
    height: 160px;
    background: url(image/enter.png) no-repeat;
    position: absolute;
    bottom: 0; }

/**2,线上就业班**/
.onlineclass {
  width: 100%;
  height: 202px;
  margin-top: 10px; }
  .onlineclass .class1, .onlineclass .class2 {
    width: 372px;
    height: 161px;
    background: none;
    float: left;
    position: relative; }
    .onlineclass .class1 a, .onlineclass .class2 a {
      width: 372px;
      height: 75px;
      background: none; }
      .onlineclass .class1 a:hover, .onlineclass .class2 a:hover {
        -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .onlineclass .class1 .web-class, .onlineclass .class2 .web-class {
      position: absolute;
      top: 0; }
    .onlineclass .class1 .java-class, .onlineclass .class2 .java-class {
      position: absolute;
      bottom: 0; }
  .onlineclass .class2 {
    margin-left: 7px; }
    .onlineclass .class2 .php-class {
      position: absolute;
      top: 0; }
    .onlineclass .class2 .ui-class {
      position: absolute;
      bottom: 0; }
  .onlineclass .class3 {
    width: 241px;
    height: 161px;
    background: none;
    float: right; }
    .onlineclass .class3:hover {
      -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer; }

/**3,专业精品课**/
.profess-class {
  width: 100%;
  height: 312px;
  margin-top: 10px; }
  .profess-class a:hover {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .profess-class .andr-class {
    width: 235px;
    height: 271px;
    background: url(image/android.png) no-repeat;
    float: left; }
  .profess-class .movie-class {
    width: 235px;
    height: 271px;
    background: url(image/movie.png) no-repeat;
    float: left;
    margin-left: 20px; }
  .profess-class .python-class {
    width: 235px;
    height: 271px;
    background: url(image/python.png) no-repeat;
    float: left;
    margin-left: 20px; }
  .profess-class .js-class {
    width: 235px;
    height: 271px;
    background: url(image/js.png) no-repeat;
    float: right; }

/**4,线下培训专区**/
.train {
  width: 100%;
  height: 619px;
  margin-top: 10px; }

.agreeclass {
  width: 100%;
  height: 280px;
  background: none; }
  .agreeclass .agreeclass1 {
    width: 478px;
    height: 100%;
    background: url(train/agree1.png) no-repeat;
    float: left; }
    .agreeclass .agreeclass1:hover {
      background: url(train/agreesel1.png) no-repeat; }
  .agreeclass .agreeclass2 {
    width: 261px;
    height: 100%;
    background: none;
    float: left; }
  .agreeclass .agreeclass3 {
    width: 261px;
    height: 100%;
    background: none;
    float: right; }
  .agreeclass .agreetop1 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/agreesel2.png) no-repeat; }
    .agreeclass .agreetop1:hover {
      background: url(train/agree2.png) no-repeat; }
  .agreeclass .agreebottom1 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/agree3.png) no-repeat; }
    .agreeclass .agreebottom1:hover {
      background: url(train/agreesel3.png) no-repeat; }
  .agreeclass .agreetop2 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/agree4.png) no-repeat; }
    .agreeclass .agreetop2:hover {
      background: url(train/agreesel4.png) no-repeat; }
  .agreeclass .agreebottom2 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/agree4.png) no-repeat; }
    .agreeclass .agreebottom2:hover {
      background: url(train/agreesel5.png) no-repeat; }

.pressureclass {
  width: 100%;
  height: 280px;
  background: 20px; }
  .pressureclass .pressclass1 {
    width: 478px;
    height: 100%;
    background: url(train/agree1.png) no-repeat;
    float: left; }
    .pressureclass .pressclass1:hover {
      background: url(train/presssel1.png) no-repeat; }
  .pressureclass .agreeclass2 {
    width: 261px;
    height: 100%;
    background: none;
    float: left; }
  .pressureclass .agreeclass3 {
    width: 261px;
    height: 100%;
    background: none;
    float: right; }
  .pressureclass .presstop1 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/press2.png) no-repeat; }
    .pressureclass .presstop1:hover {
      background: url(train/presssel2.png) no-repeat; }
  .pressureclass .pressbottom1 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/press3.png) no-repeat; }
    .pressureclass .pressbottom1:hover {
      background: url(train/presssel3.png) no-repeat; }
  .pressureclass .presstop2 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/press4.png) no-repeat; }
    .pressureclass .presstop2:hover {
      background: url(train/presssel4.png) no-repeat; }
  .pressureclass .pressbottom2 {
    display: block;
    width: 100%;
    height: 140px;
    background: url(train/press5.png) no-repeat; }
    .pressureclass .pressbottom2:hover {
      background: url(train/presssel5.png) no-repeat; }

/**5,职业学院**/
.college {
  width: 100%;
  height: 310px;
  margin-top: 10px; }
  .college .htmlclass {
    width: 501px;
    height: 271px;
    background: url(image/web-college.png) no-repeat;
    border: 0;
    float: left; }
  .college .middleclass {
    width: 242px;
    height: 271px;
    background: none;
    float: left;
    margin-left: 7px;
    position: relative; }
  .college .python-web {
    width: 100%;
    height: 132px;
    background: url(image/python-college.png) no-repeat;
    border: 0; }
  .college .ios {
    width: 100%;
    height: 132px;
    background: url(image/ios-college.png) no-repeat;
    border: 0;
    position: absolute;
    bottom: 0; }
  .college .rightclass {
    width: 242px;
    height: 271px;
    background: none;
    float: right;
    position: relative; }
  .college .go {
    width: 100%;
    height: 132px;
    background: url(image/go-college.png) no-repeat;
    border: 0; }
  .college .wechat {
    width: 100%;
    height: 132px;
    background: url(image/wechat-college.png) no-repeat;
    border: 0;
    position: absolute;
    bottom: 0; }

/**6,会员课程**/
.vipclass {
  width: 100%;
  height: 425px;
  margin-top: 10px; }
  .vipclass .vip {
    width: 158px;
    height: 310px;
    background: none;
    float: left;
    margin-right: 10px;
    position: relative; }
    .vipclass .vip:first-chid {
      margin-left: 0; }
    .vipclass .vip:last-child {
      float: right;
      margin-right: 0; }
    .vipclass .vip img:hover {
      -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
  .vipclass [id^=top] {
    width: 158px;
    height: 150px;
    background: none; }
  .vipclass [id^=bottom] {
    width: 158px;
    height: 150px;
    background: none;
    position: absolute;
    bottom: 0; }

#allclass {
  width: 115px;
  height: 35px;
  background: whitesmoke;
  font-size: 15px;
  color: #5fad5e;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 44%;
  margin-right: 0;
  margin-bottom: 0;
  border: 1px solid #5fad5e; }
  #allclass:hover {
    background: #5fad5e;
    color: #fff; }

/**7,学员故事**/
.studentshow {
  width: 100%;
  height: 305px;
  margin-top: 10px; }
  .studentshow .info {
    width: 100%;
    height: 121px;
    background: url(image/info.png) no-repeat;
    border: 0; }
  .studentshow .people {
    display: block;
    width: 172px;
    height: 70px;
    background: url(image/people.png) no-repeat;
    border: 0;
    margin: 10px 0; }
  .studentshow .story {
    width: 322px;
    height: 204px;
    background: none;
    float: left;
    margin-right: 17px; }
    .studentshow .story:last-child {
      float: right;
      margin-right: 0; }

/**8,合作企业**/
.coopercompany {
  width: 100%;
  height: 235px;
  margin-top: 10px; }
  .coopercompany img:hover {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

/*********内容区域 end***************/
/*********footer start***************/
.footer {
  background: white;
  margin-top: 0; }

.footer-container {
  width: 1000px;
  height: 240px;
  background: none;
  margin-left: 12%;
  position: relative; }
  .footer-container ul {
    font-size: 13px;
    color: gray;
    list-style-type: none;
    line-height: 30px;
    margin-top: 0;
    margin-left: -13px;
    margin-right: 76px;
    margin-bottom: 0;
    float: left; }
  .footer-container ul > li:first-child {
    font-size: 15px;
    color: #6b6666; }
  .footer-container .copyright, .footer-container hr {
    clear: both;
    color: gray; }
  .footer-container .copyright {
    margin-left: 15%;
    font-size: 13px; }

/*********footer end***************/

/*# sourceMappingURL=jike.css.map */
