* {
    margin: 0;
    padding: 0;
}

.box {
    background: #32CD32;
    min-width: 500px;
    min-height: 300px;
    /*文本居中显示*/
    overflow: hidden;
    text-align: center;
    line-height: 400px;
    /*设置整体居中显示*/
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/****************中间部分*******************/

.article {
    background: #800000;
    width: 100%;
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    overflow: auto;
}


/*****************左边部分******************/

.left {
    background: #8A2BE2;
    width: 150px;
    float: left;
    margin-left: -100%;
    /*让左边部分与中间部分一行排列*/
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/*****************右边部分******************/

/*.right {
    background: #808000;
    width: 100px;
    float: left;
    margin-left: -100px;
    /*让右边部分与中间部分一行排列*/
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}*/


/*双飞翼布局和圣杯布局的区别如下*/

.inner {
    margin-left: 150px;
    margin-right: 100px;
    height: 600px;
    overflow-y: auto;
}

p {
    padding-top: 10px;
    line-height: 20px;
}
