.html {
    font-size: 10px;
}


/**********************用css3画魔方图形*****************/

.box {
    width: 9rem;
    height: 9rem;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*设置视点*/
    -webkit-perspective: 100rem;
    -moz-perspective: 100rem;
    perspective: 100rem;
}

.cube {
    position: relative;
    width: 9rem;
    /*设置变换的方式*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*添加动画*/
    -webkit-animation: rotate linear 6s infinite;
    -moz-animation: rotate linear 6s infinite;
    animation: rotate linear 6s infinite;
}

.cube>div {
    position: absolute;
    width: 9rem;
    height: 9rem;
    text-align: center;
    line-height: 9rem;
    /*用linear-gradient在div上画九宫格*/
    background: -webkit-linear-gradient(left, rgba(85, 85, 85, 1) 0px, rgba(85, 85, 85, 1) 2px, rgba(0, 0, 0, 0) 0px), -webkit-linear-gradient(top, rgba(85, 85, 85, 1) 0px, rgba(85, 85, 85, 1) 2px, rgba(0, 0, 0, 0) 0px);
    background: -moz-linear-gradient(left, rgba(85, 85, 85, 1) 0px, rgba(85, 85, 85, 1) 2px, rgba(0, 0, 0, 0) 0px), -moz-linear-gradient(top, rgba(85, 85, 85, 1) 0px, rgba(85, 85, 85, 1) 2px, rgba(0, 0, 0, 0) 0px);
    background: linear-gradient(left, rgba(85, 85, 85, 1) 0px, rgba(85, 85, 85, 1) 2px, rgba(0, 0, 0, 0) 0px), linear-gradient(top, rgba(85, 85, 85, 1) 0px, rgba(85, 85, 85, 1) 2px, rgba(0, 0, 0, 0) 0px);
    -moz-background-size: 3rem 3rem;
    -webkit-background-size: 3rem 3rem;
    background-size: 3rem 3rem;
    border: 2px solid rgba(85, 85, 85, 1);
    border-top: none;
    border-left: none;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
}


/*********************魔方的六个面**********************/

.front {
    /*黄色*/
    background-color: rgba(255, 255, 0, 1)!important;
    -webkit-transform: translateZ(4.5rem);
    -moz-transform: translateZ(4.5rem);
    -ms-transform: translateZ(4.5rem);
    transform: translateZ(4.5rem);
}

.back {
    /*红色*/
    background-color: rgba(255, 0, 0, 1)!important;
    -webkit-transform: rotateY(180deg) translateZ(4.5rem);
    -moz-transform: rotateY(180deg) translateZ(4.5rem);
    -ms-transform: rotateY(180deg) translateZ(4.5rem);
    transform: rotateY(180deg) translateZ(4.5rem);
}

.left {
    /*紫色*/
    background-color: rgba(255, 0, 255, 1)!important;
    -webkit-transform: rotateY(-90deg) translateZ(4.5rem);
    -moz-transform: rotateY(-90deg) translateZ(4.5rem);
    -ms-transform: rotateY(-90deg) translateZ(4.5rem);
    transform: rotateY(-90deg) translateZ(4.5rem);
}

.right {
    /*蓝色*/
    background-color: rgba(0, 0, 255, 1)!important;
    -webkit-transform: rotateY(90deg) translateZ(4.5rem);
    -moz-transform: rotateY(90deg) translateZ(4.5rem);
    -ms-transform: rotateY(90deg) translateZ(4.5rem) 
    transform: rotateY(90deg) translateZ(4.5rem);
}

.top {
    /*绿色*/
    background-color: rgba(0, 255, 0, 1)!important;
    -webkit-transform: rotateX(90deg) translateZ(4.5rem);
    -moz-transform: rotateX(90deg) translateZ(4.5rem);
    -ms-transform: rotateX(90deg) translateZ(4.5rem);
    transform: rotateX(90deg) translateZ(4.5rem);
}

.bottom {
    /*青色*/
    background-color: rgba(0, 255, 255, 1)!important;
    -webkit-transform: rotateX(-90deg) translateZ(4.5rem);
    -moz-transform: rotateX(-90deg) translateZ(4.5rem);
    -ms-transform: rotateX(-90deg) translateZ(4.5rem);
    transform: rotateX(-90deg) translateZ(4.5rem);
}


/*************************动画*********************************/

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: translateZ(-9rem) rotateX(0) rotateY(0deg);
        -ms-transform: translateZ(-9rem) rotateX(0) rotateY(0deg);
        -o-transform: translateZ(-9rem) rotateX(0) rotateY(0deg);
        transform: translateZ(-9rem) rotateX(0) rotateY(0deg);
    }
    100% {
        -webkit-transform: translateZ(-9rem) rotateX(360deg) rotateY(360deg);
        -ms-transform: translateZ(-9rem) rotateX(360deg) rotateY(360deg);
        -o-transform: translateZ(-9rem) rotateX(360deg) rotateY(360deg);
        transform: translateZ(-9rem) rotateX(360deg) rotateY(360deg);
    }
}
