html {
    font-size: 75%;
    /*12px*/
}

body {
    margin: 0;
}
.box {
    display: -webkit-flex;
    display: flex;
    /*设置或检索弹性盒子元素在侧轴（纵轴）方向上的对齐方式。*/
    -webkit-align-items: stretch;
    align-items: stretch;*/
    width: 114rem;
    height: 100%;
}

.colunm {
    width: 5rem;
    background: red;
    /*float: left;*/
}

#container {
    width: 100%;
    background: green;
    /*float: left;*/
}


/****************导航栏 begin******************/

#header {
    width: 100%;
    height: 6rem;
    background: rgba(242, 242, 242, .2);
}


/******************导航栏 end*******************/


/******************article begin****************/


/**logo和输入框的样式设置**/

.baidu {
    display: -webkit-flex;
    display: flex;
    /*盒子里的内容对齐方式是居中对齐*/
    -webkit-justify-content: center;
    justify-content: center;
    width: 109rem;
    height: 4rem;
    margin: 2rem 0;
}


/*百度图片*/

.logo-baidu {
    width: 12rem;
    text-align: center;
}


/*设置整体居中*/

form {
    width: 560px;
}

button {
    /*background: rgb(76, 146, 255);*/
    height: 38px;
    width: 80px;
    display: block;
    float: left;
    line-height: 34px;
    color: #fff;
    border: 0;
}

button:hover {
    cursor: pointer;
    background: #1E90FF;
}

input {
    border: 1px solid rgb(184, 184, 184);
    width: 415px;
    height: 34px;
    float: left;
    text-indent: 4.5rem;
    padding-right: 40px;
    line-height: 34px;
    font: 400 13px/45px simsun;
}

input:hover {
    cursor: pointer;
    border-color: rgb(71, 144, 248);
}


/*在输入框上添加按钮小图标*/

.biv-bor {
    position: relative;
}


/*网页小图标*/

.tabs-toggle,
.tabs-toggle:hover {
    cursor: pointer;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 1;
    padding: 0 1rem;
    width: 38px;
    height: 44px;
    font: 400 15px/45px simsun;
    text-decoration: none;
    color: #999;
}

.tabs-toggle .arrow {
    background: url(img/input-a.png) -294px -576px no-repeat;
    position: absolute;
    top: 1.6rem;
    left: 3.6rem;
    width: 9px;
    height: 6px;
    text-indent: -999px;
}


/*照相机按钮*/

.soutu-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 110px;
    background: url(img/camera_new.png) no-repeat;
    cursor: pointer;
}

.soutu-btn:hover {
    background-position: 0 -20px;
}

.content {
    width: 100rem;
    height: 35rem;
    background: gray;
    margin: 0 4.5rem;
    position: relative;
}

[class^=home] {
    width: 100%;
    height: 3rem;
    background: yellow;
}

.menu {
    width: 100%;
    height: 28rem;
    position: absolute;
    bottom: 0;
}

.left {
    width: 25rem;
    height: 100%;
    background: red;
    float: left;
}

.right {
    width: 74rem;
    height: 100%;
    background: red;
    float: right;
}


/*************************article end****************/


/**************************footer begin**************/

#footer {
    width: 100%;
    height: 10rem;
    background: gray;
    margin-top: 1rem;
}


/***************************footer end****************/
