table,
td {
    border: 1px solid black;
}


/*http://www.qdjj.net/images/beijing.gif*/

table {
    width: 640px;
    border-collapse: collapse;
    font-size: 13px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

textarea {
    width: 580px;
}

.text {
    width: 218px;
}

.colspantd {
    color: blue;
    font-size: 15px;
    background: rgb(238, 238, 238);
    text-align: left;
}

.nav {
    width: 640px;
}

.navtitle {
    display: inline-block;
    padding-top: 67px;
    float: right;
}

.navtitle>a {
    font-size: 14px;
    color: red;
    text-decoration: none;
    margin-left: 5px;
}

#border {
    border: 1px solid black;
    width: 710px;
    padding-left: 60px;
    padding-top: 8px;
    padding-bottom: 30px;
    border-radius: 30px;
    margin-left: 20%;
    margin-top: 8px;
    background: rgb(255, 255, 255);
}

body {
    background: rgb(52, 118, 143);
}

h3 {
    text-align: center;
}

td:first-child {
    text-align: right;
}

.btn {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.copyright {
    font-size: 13px;
    text-align: center;
}
